body{
}
.start{
    padding-left: 15px;
}
header {
    background-image: url(img/baguette.jpg);
    background-position: center center;
    background-size: cover;
    height: 90px;
    background-color: black;
    margin-bottom: 10px;
    margin-top: -26px;
    display: block;
}
.h2, h2{
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    color: #333333;
}
a{
    color: #337ab7;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
}
h1{
    font: 36px Arial, sans-serif;
    margin: 20px 0 10px;
    color: #333333;
}
p.lead{
    font: 21px Arial, sans-serif;
    margin: 0 0 20px;
    color: #333333;
}
td {
    color: #333333;
    font: 16px Arial, sans-serif;
    margin: 8px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    vertical-align: top;
    line-height: 1.4;
    display: table-cell;
    width: 364px;
}
